 <section id="home">
         
        
        <h3>WORK HARDER,GET STRONGER</h3>
        <h1 class="h1"> EASY WITH OUR <span class="color">GYM</span></h1>
        <button class="become"><a href="/register">BECOME A MEMBER</a></button>
    </section>