<header>
    <nav id="navbar">

        <h1>TRAINING<span class="color">STUDIO</span></h1>
        <input type="checkbox" name="" id="toggle">

        <div class="menu">
            <ul>
                <li><a href="#home" class="color ">HOME</a></li>
                <li><a href="#information">ABOUT</a></li>
                <li><a href="#rootclass">CLASSES</a></li>
                <li><a href="#trainer">TRAINEER</a></li>
                <li><a href="#information">CONTACT</a></li>
                <li><a href="/signup" class="active">{{fName}}</a></li>
            </ul>
        </div>
    </nav>
</header>