<section id="program">
        <div class="cont1">
            <h1 class="h2">CHOOSE <span class="color">PROGRAM</span></h1>
            <img src="./img/line1.png" alt="image">
            <p>Training Studio is free CSS template for gyms and fitness centers. You are </p>
            <p>allowed to use this layout for your business website</p>
        </div>
        <div class="grid">
          <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>



            <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>


            <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>


            <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>


            <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>


            <div class="cont2">
                <div class="cont3">

                    <img src="./img/d-logo.png " alt="">
                    <div class="cont4">
                        <h3>Basic Fitness</h3>
                        <p>Please do not re-distribute this template ZIP file on any</p>
                        <p>template collection website. This is not allowed.</p>
                        <a href="#" class="color">DISCOVER MORE</a>
                    </div>

                </div>
            </div>

        </div>

    </section>