 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
    Upload image <input type="file" name="file" id="file">
    <br>
    Name <input type="text" name="name" id="name" placeholder="plz enter your name">
    <br>
    About <textarea name="about" id="about" cols="30" rows="10"></textarea>
    <br>
 </body>
 </html>